<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>This is great, my first ExpressJS app</h2>
            <p>This is my converter without Web-Worker</p>
            <br>

            <div>
              <h3><%- title  %></h3>
              <form action="/" method="post">
                Temperature to convert (Example: 32f, 3.2e1F, -5,7C) =>
                <input type="text" name="entrada" placeholder="32F" autofocus />
                <br/>
                <span class="output"><%- resultado  %></span>
                <br>
                <button type="submit">Convert</button>
              </form>
            </div>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
